.budget {
    position: relative;
    background: #333;
    margin-top: 3rem;
    padding-top: 6rem;
    padding-bottom: 9rem;
    &__bg {
        img {

            &:nth-child(1) {
                position: absolute;
                height: 30.7rem;
                top: -2rem;
                left: 15%;
                transform: translate(-50%, 0);
                z-index: 0;
            }
            &:nth-child(2) {
                position: absolute;
                height: 34rem;
                top: -4rem;
                right: -15%;
            }
        }
    }
    .container {
        position: relative;
        @include even;
        z-index: 10;
    }
    .title__subheader {
        span {
            color: red;
        }
    }
}

@media (max-width: 48em) {
    .budget {
        &__bg {
            display: none;
        }
        .container {
            flex-direction: column;
        }
    }
}