.consultation {
    padding-top: 7rem;
    padding-bottom: 7rem;
    position: relative;
    &__bg {
    img {
            &:nth-child(1) {
            height: 32rem;
            position: absolute;
            top: -4.6rem;
            left: 20%;
            transform: translate(-50%, 0);
            z-index: 0;
            }
            &:nth-child(2) {
            position: absolute;
            height: 32rem;
            top: -1rem;
            left: -5rem;
            }
        }
    }
}