.question {
    position: relative;
    padding-top: 7.1rem;
    padding-bottom: 13.3rem;
    &__description {
        padding-bottom: 6.1rem;
        @include font(400, 1.4rem, 150%);
        h4 {
            @include font(400, 2.4rem, 150%);
        }
        ul {
            padding-left: 1.4rem;
            margin-bottom: 1.1rem;
            & > li {
                padding-left: .5rem;
                list-style-type: disc;
            }
        }
        button {
            position: relative;
            @include font(600, 1.4rem, 176%);
            text-decoration: underline;
            color: #CF3535;
            &::after {
            content: '';
            position: absolute;
            right: -1.8rem;
            top: 50%;
            transform: translateY(-50%);
            transform: translateX(-50%);
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #CF3535;
            }
        }

    }
    &__bg {
        position: absolute;
        top: 42rem;
        height: 400px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    &__list {
        margin: 0 auto;
        max-width: 75rem;
    }
    &__item {
        background: #fff;
        box-shadow: 0 .2rem 1.6rem rgba(0, 0, 0, 0.08);
        border-radius: 1rem;
    }
    &__title {
        margin-bottom:  4.1rem;
    }
    &__minus, &__answer {
        display: none;
    }
    &__question {
        padding: 1rem 1.3rem 1rem 2.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &__title {
        @include font(400, 1.8rem, 139%);
        margin-bottom: 0;
    }
    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
    }
    &__answer {
        min-height: 15.6rem;
        padding: 2.4rem 2.7rem;
        @include font(400, 1.6rem, 150%);
        color: #5C5C5C;
    }
    &__active {
        display: flex;
    }
}

@media (max-width: 48em) {
    .question {
        &__description {
            font-size: 2.8rem;
            h4 {
                font-size: 4rem;
            }
            ul {
                padding-left: 2rem;
                padding-right: 2rem;
                & > li {
                    padding-left: 1rem;
                }
            }
            button {
                font-size: 2.8rem;
                &::after {
                    right: -3.5rem;
                    }
            }
        }
        &__bg {
            display: none;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
        &__icon {
            width: 3rem;
            height: 3rem;
        }
        &__title {
            max-width: 90%;
            font-size: 2.8rem;
        }
        &__answer {
            min-height: 22rem;
            font-size: 2.8rem;
        }
    }
} 